@model AowCore.AppWeb.ViewModels.VoucherInvoiceViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/MyBooks/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#sandbox-container input').datepicker({
            format: "dd-mm-yyyy"
        });

    });
</script>
<h2>
    @Html.ActionLink("<<Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-success" })
    Update Purchase Bill
    <a id="printBill" href="@Url.Action("PrintBill","PurchaseBill",new { id=Model.Id })" class="btn btn-success btn-sm offset-3"><i class="fas fa-print"></i>Print</a>
    <button id="addTranspoterDetail" class="btn btn-primary"><i class="fas fa-truck"></i>Transport Detail</button>
    <button id="addTranspoterDetail" class="btn btn-danger"><i class="fas fa-trash"></i>Delete</button>
</h2>
<hr />

@using (Html.BeginForm("Edit", "Purchase", FormMethod.Post, new { id = "addPurchaseBill" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" asp-for="Id" class="voucherId" />
        <div class="form-row">
            <div class="form-group col-md-6">
                @Html.EditorFor(model => model.LedgerName, new
           {
               htmlAttributes = new
               {
                   @class = "ui-autocomplete-input form-control",
                   @placeholder = "Enter Party Name",
                   data_url = @Url.Action("GetLedgersForJournalEntry", "Ledgers")
               }
           })
                @Html.HiddenFor(c => c.LedgerId)
                @Html.ValidationMessageFor(model => model.LedgerName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.EditorFor(model => model.VoucherNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Invoice" } })
                @Html.ValidationMessageFor(model => model.VoucherNumber, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-3">
                <div class='input-group datetimepicker6'>
                    @*@Html.EditorFor(model => model.Date, "EditorDate")*@
                    <input type="text" class="form-control" name="Date" id="sandbox-container" value="@Model.Date">
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
                @*@Html.EditorFor(model => model.Date, "EditorDateJqueryDateTimePicker")*@
            </div>

        </div>
    </div>


    <div class="form-row" id="AddItems">
        <table class="table table-hover table-bordered table-sm table-responsive table-striped w-auto" style="height:350px">
            <tr>
                <td>S.No</td>
                <td>Item Name</td>
                <td>Description</td>
                <td>Amount</td>
                <td style="width:60px">Quantity</td>
                <td style="width:60px">Total</td>
                <td></td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="text" id="txtStoreItem" class="ui-autocomplete-input form-control" data-url="@Url.Action("GetProductsForAutocomplete", "Products")" placeholder="Enter Product" />
                    <input type="hidden" id="hdnStoreItemId" class="form-control" />
                    <input type="hidden" id="hdnProductId" class="form-control" />
                    <input type="hidden" id="hdnProductAccountId" class="form-control" />
                    <input type="hidden" id="hdnAccountCategoryName" class="form-control  hdnAccountCategoryName" />
                    <input type="hidden" id="hdnItemType" class="form-control  hdnItemType" />
                </td>
                <td>
                    <input type="text" id="txtDescription" class="form-control" placeholder="Description" />

                </td>
                <td>
                    <input type="text" id="txtMRP" class="form-control" maxlength="7" placeholder="MRP" />
                </td>
                <td>
                    <input type="text" id="txtQuantity" class="form-control" onchange="recalculateExtendedPrice()" placeholder="Quantity" />
                </td>
                <td>
                    <input type="text" id="txtAmount" class="form-control  txtAmount" placeholder="Amount" value="0" />
                    <input type="hidden" id="hdnAmount" class="form-control  hdnAmount" />
                </td>
                <td>
                    <input id="btnAdd" type="button" value="Add" class="btn btn-primary btn-sm btnadd" />
                    @*<a href="#" class="glyphicon glyphicon-pencil btnadd" id="btnadd" title="Add"></a>*@
                    <a href="#" class="fa fa-edit btnupdate" id="btnupdate" title="Edit" style="display:none;"></a>
                    <a href="#" class="fa fa-erase btnnew" id="btnnew" title="New" style="display:none;"></a>
                </td>
            </tr>
            <tbody id="tbodyitems" class="tbodyitems bordered">
                @{
                    if (Model.VoucherItemsViewModels != null)
                    {
                        @foreach (var item in Model.VoucherItemsViewModels.OrderBy(x => x.SrNo))
                        {
                            <tr>
                                <td>
                                    <p class='sNo'>@item.SrNo</p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <p class='batchName'>@item.Description</p>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MRPPerUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <p class="extendedPrice">@item.ItemAmount</p>
                                </td>
                                <td>
                                    <input type='hidden' class='hdnappendProductId' value=@item.ProductId />
                                    <input type='hidden' class='hdnappendProductAccountId' value=@item.LedgerId />
                                    <input type='hidden' class='hdnappendhdnItemType' value=@item.ItemType />
                                    <input type="hidden" id="hdnappendAmount" class="hdnappendAmount" value="@item.ItemAmount" />
                                    <input type='hidden' class='hdnappendMRP' value=@item.MRPPerUnit />
                                    <input type="hidden" id="hdnappendItemName" class="hdnappendProductName" value="@item.Name" />
                                    <input type="hidden" id="hdnappendQuantity" class="hdnappendQuantity" value="@item.Quantity" />
                                    <input type="hidden" id="hdnappendMRPPerUnit" class="hdnappendMRPPerUnit" value="@item.MRPPerUnit" />
                                    <button class="btn btn-sm btn-outline-warning fas fa-edit addVoucherVariant" value="@item.Id" style='cursor:pointer;'></button>
                                    @*<button class="btn btn-sm btn-outline-light fa fa-edit edit" value="@item.Id" style='cursor:pointer;'></button>*@
                                    <button class="btn btn-sm btn-outline-danger fas fa-trash-alt delete" value="@item.Id" style='cursor:pointer;'></button>
                                    @*<a class='fa fa-edit edit' style='cursor:pointer;' />
                                        <a class='fa fa-trash delete' style='cursor:pointer; color:red' />*@
                                </td>
                            </tr>

                        }
                    }
                }

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type='hidden' id="hdnItemTotal" class='hdnItemTotal' value="@Model.ItemsTotal" /></td>
                    <td>Total</td>
                    <td class='itemstotalclass'>@Model.ItemsTotal </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" class="hdnProductsTotal" id="hdnProductsTotal" value="@Model.Total" />
        <div class="row">
            <div class="form-group col-md-offset-9">
                <div class="col-md-10">
                    <input type="hidden" class="DueAmount" id="DueAmount" placeholder="Due Amount" />
                    @*@Html.EditorFor(model => model.ProductsTotal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Products Total" } })*@
                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-row" id="AddSundryAccount">
        <div class="col-md-5">
            @Html.TextAreaFor(model => model.Note, new { id = "editor1", @class = "form-control", @placeholder = "Enter Note" })
            @*@Html.TextAreaFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Note" } })*@
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-7">
            <table class="table table-bordered table-hover table-condensed table-sm table-responsive table-striped w-auto" style="height:250px">
                <tr>
                    <td>Account</td>
                    <td>%</td>
                    <td>Amount</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="txtSundryItem" class="ui-autocomplete-input form-control" data-url="@Url.Action("GetSundryItemForAutocomplete", "Purchase")" placeholder="Tax/Freight/Discount Account" />
                        <input type="hidden" id="hdnSundryAccountId" class="form-control" />
                        <input type="hidden" id="hdnSundryProductId" class="form-control" />
                        <input type="hidden" id="hdnSundryAccountCategoryName" class="form-control  hdnAccountCategoryName" />
                        <input type="hidden" id="hdnSundryItemType" class="form-control  hdnItemType" />
                    </td>
                    <td>
                        <input type="text" id="txtPercent" class="form-control  txtPercent" maxlength="7" placeholder="Debit Amount" value="0" />
                    </td>
                    <td>
                        <input type="text" id="txtDebit" class="form-control  txtDebit" maxlength="7" placeholder="Amount" value="0" />
                        <input type="hidden" id="hdnDebitAmount" class="form-control  hdnAmount" />
                    </td>
                    <td>
                        <input id="btnaccountadd" type="button" value="Add" class="btn btn-primary btn-sm btnaccountadd" />
                        @*<a class="glyphicon glyphicon-plus btnaccountadd" id="btnaccountadd" title="Add"></a>*@
                        <a class="fa fa-edit btnaccountupdate" id="btnaccountupdate" title="Edit" style="display:none;"></a>
                        <a class="fa fa-erase btnaccountnew" id="btnaccountnew" title="New" style="display:none;"></a>
                    </td>
                </tr>
                <tbody id="tbodysundryitems" class="tbodysundryitems bordered">
                    @{
                        if (Model.VoucherSundryItemsViewModels != null)
                        {
                            @foreach (var item in Model.VoucherSundryItemsViewModels)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Percent)
                                    </td>
                                    <td>
                                        <p class="extendedPrice">@item.ItemAmount</p>
                                    </td>
                                    <td>
                                        <input type="hidden" id="hdnappendSundryItemId" class="hdnappendSundryItemId" value="@item.Id" />
                                        <input type="hidden" id="hdnappendSundryName" class="hdnappendSundryName" value="@item.Name" />
                                        <input type="hidden" id="hdnappendSundryPercent" class="hdnappendSundryPercent" value="@item.Percent" />
                                        <input type='hidden' id="hdnappendSundryAmount" class='hdnappendSundryAmount' value="@item.ItemAmount" />
                                        <input type='hidden' class='hdnappendSundryProductId' value=@item.ProductId />
                                        <input type='hidden' class='hdnappendSundryAccountId' value=@item.LedgerId />
                                        <input type='hidden' class='hdnappendSundryItemType' value=@item.Type />
                                        <a class='fa fa-edit sundryedit' style='cursor:pointer;' />
                                        <a class='fas fa-trash-alt sundrydelete' style='cursor:pointer;' />
                                    </td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td class='otheraccounttotalclass'>@Model.SundryTotal </td>
                    </tr>

                </tbody>
            </table>
            <input type="hidden" class="hdnSundryTotal" id="hdnSundryTotal" value="@Model.SundryTotal" />
        </div>

        <div class="form-group col-md-3 offset-9">
            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total" } })
            @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3 offset-9">
            <span>
                <img id="loading" style="display:none" src="~/gif/ajax-loader.gif" />
            </span>
            <input type="submit" value="Save & Close" id="SaveClose" class="btn btn-primary SaveOrder" />
            <input type="submit" value="Save & Next" id="SaveNext" class="btn btn-success SaveOrder" />
        </div>
    </div>

    <br />
    <div id="resultMessage"></div>
}



@section Scripts {
    <script src="~/myscript/purchaseBill/createAddUpdateDeleteItem.js"></script>
    <script src="~/myscript/purchaseBill/addupdatedeteteSundry.js"></script>

    <script src="~/myscript/purchaseBill/saveandCommonFunctions.js"></script>

    <script type="text/javascript">

        $("#addTranspoterDetail").on("click", function (e) {
        e.preventDefault();
            var voucherId = $('.voucherId').val();
        /// $(".ajax-loading-block-window").show();
        $.ajax({
            url: '@Url.Action("Create", "TransporterDetails")',
            data: { 'voucherId': voucherId },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $("#resultMessage").html(data.html);
                    $(".ajax-loading-block-window").hide();
                    $("#myModal").modal('show');

                    $.validator.unobtrusive.parse($('#frm'));
                }
            },
            error: function () {
                alert('error')
                $(".ajax-loading-block-window").hide();
            }
        });
    });

    function DeleteUser(id) {
        $.ajax({
            url: '@Url.Action("DeleteUser", "FinancialYears")',
            type: 'POST',
            data: { 'Id': id },
            datype: 'json',
            success: function (data) {
                if (data != null) {
                    $("#resultMessage").html(data.html);
                    $(".ajax-loading-block-window").hide();
                    $("#myModal").modal('show');
                }
            },
            error: function (xhr, status) {
                alert(xhr.responseText);
                $(".ajax-loading-block-window").hide();
            }
        });
    }
    </script>
    <script type="text/javascript">

        $(".addVoucherVariant").on("click", function (e) {
            e.preventDefault();
            let tr = $(this).closest("tr");
            let itemId = tr.find(".addVoucherVariant").val();

        /// $(".ajax-loading-block-window").show();
        $.ajax({
            url: '@Url.Action("Create", "VoucherItemVariants")',
            data: { 'voucherItemId': itemId },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $("#resultMessage").html(data.html);
                    $(".ajax-loading-block-window").hide();
                    $("#itemVarientModal").modal('show');

                    $.validator.unobtrusive.parse($('#frm'));
                }
            },
            error: function () {
                alert('error')
                $(".ajax-loading-block-window").hide();
            }
        });
    });

    </script>
}
