@model AowCore.Domain.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/MyBooks/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTaxCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTaxCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NatureAddSub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NatureAddSub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoGenerateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoGenerateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Taxable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Taxable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbMainImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbMainImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageExtention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageExtention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ledger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ledger.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseLedger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseLedger.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
