@model AowCore.Domain.ProductVariant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/MyBooks/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductVariant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoGenerateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoGenerateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailableForSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailableForSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowOnWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowOnWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_NewArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_NewArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_FeaturedProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_FeaturedProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_BestSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_BestSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_FreeShipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_FreeShipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Taxable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Taxable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThumbMainImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThumbMainImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAttributeOptions1Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAttributeOptions1Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAttributeOptions2Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAttributeOptions2Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAttributeOptionsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAttributeOptionsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
